/* for data cleaning */
div.table, table.table {
    --bs-table-striped-bg: rgb(205, 236, 238);
    border-color: rgb(205, 236, 238);
}

.card {
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}

.newWrapperClass {
    overflow-x: auto;
    white-space: nowrap;
}

.active-score-wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
}

.card-body {
    overflow: auto;
    white-space: nowrap;
}

.height-cb {
    height: 60vh;
}

.form-check-label {
    padding-right: 3em;
}

.convert-wrapper {
    display: grid;
    grid-template-columns: 9em auto;
    gap: 0.5em;
}

input.convert-input {
    text-align: center;
    width: 7em;
    margin: 0 0 1.5em 2em;
}

input[checked=true]+label:hover {
    font-weight: bold;
    cursor: pointer;
}

/* for PM criteria step */
.criteria-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.criteria-ch {
    display: grid;
    grid-template-columns: 67.5% 30%;
    gap: 2.5%;
}

.criteria-ch-content {
    border: 1px solid rgb(157, 161, 216);
    font-weight: bold;
}

.targetS-factor {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1em;
}

.cb-criteria {
    max-height: 24.5em;
    padding: 0;
}

.list-criteria {
    height: 100%;
    min-height: 4.4em;
    padding: 1rem;
    padding-top: 0;
    overflow-y: auto;
    background-color: rgb(216, 218, 245);
    border-radius: 0;
}
.lc-pt {
    padding-top: 1rem;
}

.bc {
    border-color: rgb(157, 161, 216);
}

.pd {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    margin-bottom: 0;
}



